examples/digit_ocr/data/sklearn/*.csv
examples/digit_ocr/data/mnist/*.csv
examples/pytorch/

AGENTS.md

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.pyc
*.pkl

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/temp
bazel-*
*.DS_Store
.DS_Store
format.sh
build.sh

# IDEA Editor
.idea/

# SSL certificate files
*.pem

